html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;	
	background-image: url("https://i.pinimg.com/originals/b5/6e/ec/b56eec352c9ea783fc01f9fbba713b5f.jpg");
	background-size: cover;
}

#titulo {
	text-align: center;
}

.cambiarColor {
	font-family: Montserrat;
	color: #000000;
}

.contenedor{
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 3em;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(255,255,255,0.5);
	
}

#boton {
	padding-left: 40%
}
}