html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;	
	background-image: url("https://images.unsplash.com/photo-1484898825481-73250f5eab5c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=48b9ee56a81514d8496e671413b6ed8e&auto=format&fit=crop&w=1867&q=80");
	background-size: cover;
}

#titulo {
	text-align: center;
}

.cambiarColor {
	font-family: Montserrat;
	color: #000000;
}

.contenedor{
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 3em;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(255,255,255,0.5);
	
}

#boton {
	padding-left: 40%
}
}